<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Forecast test - login</title>

    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    @RenderBody();
</body>
</html>